{% extends "layout.html" %}

{% block title %}
Lukuvinkkisovellus
{% endblock %}

{% block content %}
<div class="content">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}

    <h3>Blogin muokkaus</h3>
    <hr>

    <form action="/blogs/{{  blog.get_id() }}" method="POST">
            
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.author.label(class='form-control-label') }}
    
            {% if form.author.errors %}
            {{ form.author(class='form-control form-control is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.author.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.author(class='form-control form-control-', value=blog.get_author()) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.title.label(class='form-control-label') }}
    
            {% if form.title.errors %}
            {{ form.title(class='form-control form-control- is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class='form-control form-control', value=blog.get_title()) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.url.label(class='form-control-label') }}
    
            {% if form.url.errors %}
            {{ form.url(class='form-control form-control is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.url.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.url(class='form-control form-control', value=blog.get_url()) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label(class='form-control-label') }}
    
            {% if form.description.errors %}
            {{ form.description(class='form-control form-control is-invalid') }}
            <div class='invalid-feedback'>
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class='form-control form-control', value=blog.get_description()) }}
            {% endif %}
        </div>
        <br>

        {% if blog.get_read() %}
        <input type="checkbox" class="btn-check" name="read_check" value="not_read" id="no">
        <label id="mark_unread" class="btn btn-outline-danger" for="no">Poista luetuista</label>
        {% else %}
        <input type="checkbox" class="btn-check" name="read_check" value="readed" id="yes">
        <label id="mark_read" class="btn btn-outline-success" for="yes">Merkitse luetuksi</label>
        {% endif %}
        <p></p>

        <div class="btn-group">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Muuta tageja</button>
            <div class="dropdown-menu">
                {% for tag in user_tags %}
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">   
                        {% if tag.get_id() in blog.get_tag_ids() %}       
                        <input type="checkbox" class="custom-control-input" name="tag_check" value={{ tag.get_id() }} id="tags" checked autocomplete="on">
                        {% else %}
                        <input type="checkbox" class="custom-control-input" name="tag_check" value={{ tag.get_id() }} id="tags">
                        {% endif %}
                        <label class="custom-control-label" for="tags">{{ tag.get_name()}}</label>  
                    </div>
                {% endfor %}
                </a>
            </div>
        </div>
        <br>
        <input type="hidden" name="delete" value="no">
        <p></p>
        {{ form.submit(class="btn btn-primary", value="Muokkaa") }}    
        <hr>
        <medium class="text-muted">
            Tähdellä (*) merkityt kohdat ovat pakollisia
        </medium>

    </form>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Poista lukuvinkki</button>

    <!-- Modal -->

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Oletko varma?</h4>
                </div>
                 <div class="modal-body">
                    <form action="/blogs/{{ blog.get_id() }}" method="POST">
                        <input type="hidden" name="delete" value="yes">
                        <button type="submit" class="btn btn-danger">Kyllä, poista</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Eiku</button>
                </div>
            </div>

        </div>
    </div>
      
{% endblock %}
</div>
