{% extends "layout.html" %}

{% block title %}
Lukuvinkkisovellus
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
    <p>
<ul>
    {% if session.user_id %}
    listaa kirjat yms tähän
    {% else %}

    Start by logging in!
        <form action="/login" method="POST">
            {{ login_form.csrf_token }}
            <div class="form-group">
              {{ login_form.username.label(class='form-control-label') }}
              {{ login_form.username(class='form-control form-control-') }}

            </div>
            <div class="form-group">
                {{ login_form.password.label(class='form-control-label') }}
                {{ login_form.password(class='form-control form-control') }}
            </div>
            {{ login_form.submit(class="btn btn-primary") }}
          </form>
          <hr>
          <medium class="text-muted">
              <a href="/register">Click here to register!</a>
          </medium>
    
    {% endif %}

</ul>

{% endblock %}