{% extends "layout.html" %}

{% block title %}
Lukuvinkkisovellus
{% endblock %}

{% block body %}
<h1>Lukuvinkkisovellus</h1>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
    <p>
<ul>
    {% if session.user_id %}
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    {% endif %}
</ul>

{% endblock %}