<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
    </head>
    <body>
        

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Lukuvinkkisovellus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                    <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temp</a>
                </li>
                </ul>
                {% if session.user_id %}
                <a href="/logout" id="logout" class="btn btn-outline-success my-2 my-sm-0" role="button" >Log out, {{ session.username }}</a>
                {% endif %}
            </div>
            </div>
        </nav>
        
        <div class="container" >
            <div class="row">
              <div class="col-8">
        
        {% block content %}{% endblock %}
        </div>

        <div class="col-4">
            <h2>Lukuvinkkisovellus</h2>
            <p>
                Lukuvinkkikirjasto on web-sovellus, joka toteutetaan Helsingin Yliopiston
                 Ohjelmistotuotantokurssin projektityönä. Sovelluksen käyttäjä voi tallettaa,
                  hakea sekä jaotella erilaisia lukuvinkkejä sekä muistiinpanoja,
                   kuten kirjoja, podcasteja, videoita tai blogipostauksia.
                    Tarkemmat tiedot löytyvät <a href="https://ohjelmistotuotanto-hy.github.io/speksi/">tehtävänannosta</a>
            </p>
                {% if session.user_id %}
              <hr>
              <a href="#" class="btn-secondary btn-lg active" role="button" aria-pressed="true">Nappi</a>
                {% endif %}
                <hr>
                <a href="https://github.com/TopiasHarjunpaa/Lukuvinkkisovellus">GitHub</a>
                <hr>
      

          </div>
    </body>
</html>
