{% extends "layout.html" %}

{% block title %}
Lukuvinkkisovellus
{% endblock %}

{% block content %}
<div class="content">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
<p>
<h3>Lisää uusi podcast</h3>
<hr>
<p>
<form action="/new_podcast" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.episode.label(class='form-control-label') }}

        {% if form.episode.errors %}
        {{ form.episode(class='form-control form-control is-invalid') }}
        <div class='invalid-feedback'>
            {% for error in form.episode.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.episode(class='form-control form-control') }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.title.label(class='form-control-label') }}

        {% if form.title.errors %}
        {{ form.title(class='form-control form-control- is-invalid') }}
        <div class='invalid-feedback'>
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.title(class='form-control form-control') }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.description.label(class='form-control-label') }}

        {% if form.description.errors %}
        {{ form.description(class='form-control form-control is-invalid') }}
        <div class='invalid-feedback'>
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.description(class='form-control form-control') }}
        {% endif %}
    </div>
    <hr>
    {{ form.submit(class="btn btn-primary") }}

    <p></p>
    <medium class="text-muted">
        Tähdellä (*) merkityt kohdat ovat pakollisia
    </medium>
    </form>
    
{% endblock %}
</div>