{% extends "layout.html" %}

{% block title %}
Lukuvinkkisovellus
{% endblock %}

{% block content %}
<div class="content">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}

    <h3>Podcastin muokkaus</h3>
    <hr>

    <div class="d-flex justify-content-between">
        <h4>Podcastin ID: {{ podcast.get_id() }}</h4>
        <form action="/podcasts/{{  podcast.get_id() }}" method="POST">
            <button type="submit" class="btn btn-primary" name="mark_as_read">Merkitse luetuksi</button>
        </form>
    </div>    
      
{% endblock %}
</div>