.header {
    padding-top: 40px;
    background-image: linear-gradient(to bottom right, rgb(28, 164, 255), rgb(3, 24, 47));
    height: 180px;
}

.header-bottom-margin {
    background-image: linear-gradient(to right, rgb(58, 58, 58), white);
    height: 10px;   
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

h3 {
    padding-top: 30px;
    text-align: center;
    color: rgb(28, 164, 255);
    font-family: fantasy;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.04em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1), 
                0 2px 2px rgba(255, 255, 255, 1);  

}

h4 {
    padding-top: 10px;
    text-align: center;
    color: rgb(28, 164, 255);
    font-family: fantasy;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);

}

.logo {
    display: block;
    background-color: rgb(28, 164, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4), 
                0 2px 2px rgba(0,0,0,0.4), 
                0 4px 4px rgba(0,0,0,0.4), 
                0 8px 8px rgba(0,0,0,0.4),
                0 16px 16px rgba(0,0,0,0.4);
}

.content {
    margin-top: 30px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 45em;
}